<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604954231164-1487l51vuipnduge9d0oem7kgsrau60g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604954231164-1487l51vuipnduge9d0oem7kgsrau60g</string>
	<key>API_KEY</key>
	<string>AIzaSyARk3QOBzCJte2mcjiRjwKWLhCV_4lKVxE</string>
	<key>GCM_SENDER_ID</key>
	<string>604954231164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.MancaInc.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-83c56</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-83c56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604954231164:ios:e5255f38037e9e036264f9</string>
</dict>
</plist>